<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
    <link rel="stylesheet" href="thestyle.css">
</head>
<body>
    <div id="customerlogin"><h2>Customer Login</h2></div>
    <div id="customerlogin-grid">
        <div>
            <form action="/checkuser" method="post">
                <h2>Registered Customers</h2>
                <p>If you have an account, sign in with your email address.</p>
                <div class="input-div">
                    <h4>Username <span style="color: #e52b2e;">*</span></h4>
                    <input id="username-value" name="username" type="text">
                </div>
                <div class="input-div">
                    <h4>Password <span style="color: #e52b2e;">*</span></h4>
                    <input id="password-value" name="password" type="password">
                </div>
                <% if (check == "wrong") { %>
                    <a id="wrong-details">You have entered wrong details</a>
                <% } %>
                <p>Forgot your Password?</p>
                <div id="sign-in"><button type="submit" class="customer-button">Sign In</button></div>
                <span id="required">* Required Fields</span>
            </form>
        </div>
        <div>
            <form action="/createaccount" method="post">
                <h2>New Customers</h2>
                <p>Creating an account has many benefits: check out faster, keep more than one address, track orders and more.</p>
                <div id="create-account"><button type="submit" class="customer-button">Create an Account</button></div>
            </form>
        </div>
    </div>
</body>
</html>